dotenv_if_exists ./.otc.env

export TF_VAR_otc_domain_name="OTC-EU-DE-00000000001000055571"
export TF_VAR_project_name="argocd-vs-fluxcd-1"

export TF_VAR_otc_admin_ak=$OTC_ACCESS_KEY
export TF_VAR_otc_admin_sk=$OTC_SECRET_KEY

export AWS_ACCESS_KEY_ID=$OTC_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$OTC_SECRET_KEY
